<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/nameString"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:appCategory="productivity"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:restoreAnyVersion="true"
        android:rollbackDataPolicy="restore"
        android:backupInForeground="false"
        android:allowClearUserData="true"
        android:directBootAware="false"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:replace="label"
        tools:targetApi="s">
        <activity
            android:name="com.spendsages.walletwatch.MainActivity"
            android:screenOrientation="portrait"
            android:noHistory="false"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            android:showForAllUsers="false"
            android:showWhenLocked="false"
            android:turnScreenOn="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spendsages.walletwatch.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"
            android:showForAllUsers="false"
            android:showWhenLocked="false"
            android:turnScreenOn="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
    </application>

</manifest>